.header {
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  border-bottom: 1px solid #dfe1e6;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
  }

  &__logo {
    padding: 0 10px 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin-left: 25px;
      // max-width: 255px;
      // width: 100%;
      width: 255px;
      margin-top: 20px;
    }
  }

  &__links {
    // margin-top: 10px;
    // display: flex;
    // width: calc(100% - 350px);
    // align-items: center;
    // justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__menu {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    // flex-grow: 1;
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-left: 152px;
  }

  .search__wrap {
    z-index: 1;
    border-radius: 25px;
    height: 100%;
    overflow: hidden;
    border: 1px solid #e1e2e7;
    //position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    //margin-top: 10px;
    position: relative;
    width: 100%;
  }

  .search {
    height: 50px;
    position: relative;
    z-index: 2;
    border-radius: 30px;
    width: 100%;
    line-height: 48px;
    padding: 0 40px 0 25px;
    outline: 0;
    border: none;
    font-weight: 700;
    font-size: 14px;
  }

  .fa-search {
    position: absolute;
    top: 14px;
    right: 11px;
    font-size: 24px;
    z-index: 10;
    cursor: pointer;
  }

  .fa-times {
    cursor: pointer;
    font-size: 16px;
    top: 16px;
    right: 18px;
  }

  &__nav {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 275px;
    margin-right: 50px;

    &-item {
      padding: 0 10px;
    }

    &-link {
      background-color: transparent;
      position: relative;
      color: #020303;
      font-size: 14px;
      line-height: 1.29;
      border-bottom: 1px solid #dedede;
      cursor: pointer;
      transition: color 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);

      &:hover {
        color: #4da0ff;
      }
    }

    .fa-chevron-down {
      position: absolute;
      font-size: 8px;
      right: -13px;
      top: 55%;
      transform: translateY(-50%);
    }
  }

  &__phone-number {
    font-size: 36px;
    display: flex;
    line-height: 31px;
    font-weight: 700;
    color: #020303;

    .fa-phone-alt {
      font-size: 30px;
      margin: 0 5px;
    }
  }

  &__user-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 320px;
  }

  &__user-item {
    padding: 0 11px;
  }

  &__user-link {
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #020303;
    border: 1px solid #e1e2e7;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    font-size: 24px;
    line-height: 1;
    position: relative;

    &:hover {
      border-color: #ea2427;
    }

    .count-box {
      border-radius: 50%;
      background-color: #020303;
      color: #fff;
      text-align: center;
      font-size: 10px;
      display: block;
      min-width: 15px;
      height: 15px;
      line-height: 16px;
      position: absolute;
      top: -5px;
      right: 0;
    }
  }
}

@media screen and (max-width: 1366px) {
  .header__nav {
    display: none;
  }

  .header__phone-number {
    margin-left: 50px;
  }

  .header__search {
    margin-left: 170px;
  }
}

@media screen and (max-width: 1180px) {
  .header__user-item_mob-hidden {
    display: none;
  }

  .header__search {
    margin-left: 190px;
  }
}

// @media (min-width: 1024px) {
//   .header__search {
//     height: 50px;
//     width: auto;
//     max-width: 565px;
//     min-width: 256px;
//     flex-grow: 1;
//     margin-right: 0;
//   }

//   .search__wrap {
//     left: 0;
//     width: auto;
//   }
// }

// @media screen and (min-width: 768px) {
//   .header__wrapper {
//     height: 120px;

//     &__logo {
//       padding: 0 25px 0 5px;
//     }

//     .logo__pic__desktop {
//       display: block;
//     }
//   }

//   .logo__pic__mobile {
//     display: none;
//   }
// }
