*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
}

/* body properties*/
body {
  font: 300 16px "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

/* common a tags */
a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14px;
  color: #0076ff;
}

b {
  color: #f74649;
}

/* common image properties */
img {
  max-width: 100%;
  height: auto;
}

/* common container properties */
.header {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99999;
  border-bottom: 1px solid #dfe1e6;
  background-color: #fff;
}

.header .container {
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
}

.header__logo {
  width: auto;
  padding: 0 10px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo .logo {
  max-width: 255px;
  width: 100%;
}

.header__links {
  width: calc(100% - 260px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1125px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__search {
  position: relative;
}

.header .search__wrap {
  -webkit-transition: width 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91), background-color 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: width 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91), background-color 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #e1e2e7;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.header .search {
  height: 50px;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  width: 100%;
  line-height: 48px;
  padding: 0 40px 0 25px;
  outline: 0;
  border: none;
  font-weight: 700;
  font-size: 14px;
}

.header .fa-search {
  position: absolute;
  top: 14px;
  right: 11px;
  font-size: 24px;
  z-index: 10;
  cursor: pointer;
}

.header .fa-times {
  cursor: pointer;
  font-size: 16px;
  top: 16px;
  right: 18px;
  display: none;
}

.header .search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 275px;
  width: 100%;
  margin-right: 50px;
}

.header__nav-item {
  padding: 0 10px;
}

.header__nav-link {
  background-color: transparent;
  position: relative;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  -webkit-transition: color 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: color 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  color: #020303;
  font-size: 14px;
  line-height: 1.29;
  border-bottom: 1px solid #dedede;
}

.header__nav-link:hover {
  color: #4da0ff;
}

.header__nav .fa-chevron-down {
  position: absolute;
  font-size: 8px;
  right: -13px;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__phone-number {
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #020303;
}

.header__user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 320px;
}

.header__user-item {
  position: relative;
}

.header__user-item .comparison {
  margin-left: 0;
}

.header__user-item:last-of-type {
  padding-right: 0;
}

.header__user-link {
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #020303;
  border: 1px solid #e1e2e7;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  font-size: 24px;
  line-height: 1;
  position: relative;
  background-color: transparent;
  cursor: pointer;
}

.header__user-link:hover {
  border-color: #ea2427;
}

.header__user-link .count-box {
  border-radius: 50%;
  background-color: #020303;
  color: #fff;
  text-align: center;
  font-size: 10px;
  display: block;
  min-width: 15px;
  height: 15px;
  line-height: 16px;
  position: absolute;
  top: -5px;
  right: 0;
}

@media screen and (max-width: 1366px) {
  .header__phone-number {
    margin-left: -12px;
  }
  .header__logo {
    width: 380px;
  }
  .header__search {
    margin-left: 160px;
  }
  .logo {
    margin-left: 0;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1180px) {
  .header__user-item_mob-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 640px) {
  .container {
    padding: 0 15px;
  }
  .search__content {
    height: 350px;
    max-height: initial;
  }
}

@media (min-width: 1024px) {
  .header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__search {
    height: 50px;
    width: auto;
    max-width: 565px;
    min-width: 256px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 0;
  }
  .header__search,
  .search__wrap {
    left: 0;
    width: auto;
  }
  .header__phone {
    display: block;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
  }
  .header__phone-number {
    margin-right: 0;
  }
  .fa-phone-alt {
    font-size: 30px;
    margin: 0 5px;
  }
  .header__user-list {
    padding: 0 0 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    height: 120px;
  }
  .header__logo {
    padding: 0 25px 0 5px;
  }
  .header__links {
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    margin-top: 10px;
  }
  .logo__pic__desktop {
    display: block;
  }
  .logo__pic__mobile {
    display: none;
  }
  .header__phone-number {
    font-size: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 31px;
  }
  .header__user-item {
    padding: 0 5px;
  }
}

.footer {
  background-color: #0e1010;
  color: #fff;
  position: relative;
  display: block;
  overflow: hidden;
}

.footer .container {
  padding: 0 15px;
}

.footer .footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 95px 8% 20px;
}

.footer .footer__left .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-right: 15px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.footer .footer__left .footer__up {
  padding-bottom: 75px;
}

.footer .footer__left .footer-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 15px;
}

.footer .footer__left .footer-menu {
  padding: 20px 0 0;
}

.footer .footer__left .menu-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-bottom: 15px;
}

.footer .footer__left a {
  color: #fff;
}

.footer .footer__left a:hover {
  color: #4da0ff;
}

.footer .footer__left .footer__down {
  height: 90px;
}

.footer .footer__left .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__left .payment-img {
  width: 40px;
}

.footer .footer__left .payment-img + .payment-img {
  margin-left: 20px;
}

.footer .footer__left .social {
  margin: 0 -6px;
}

.footer .footer__left .social-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 6px;
}

.footer .footer__left .social-link {
  background-color: transparent;
  width: 30px;
  height: 30px;
  -webkit-transition: opacity 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: opacity 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  font-size: 28px;
}

.footer .footer__left .facebook-link {
  color: #3b5998;
}

.footer .footer__left .facebook-link:hover {
  opacity: 0.7;
  color: #3b5998;
}

.footer .footer__left .instagram-link {
  color: #bc2a8d;
}

.footer .footer__left .instagram-link:hover {
  opacity: 0.7;
  color: #bc2a8d;
}

.footer .footer__left .youtube-link {
  color: #d90000;
}

.footer .footer__left .youtube-link:hover {
  opacity: 0.7;
  color: #d90000;
}

.footer .footer__left .copyright a {
  display: block;
  margin: 0 0 10px;
}

.footer .footer__right {
  margin-left: 0;
  margin-right: -15px;
  padding: 55px 10px 20px 4.7%;
  background-color: #000;
  width: 27.5%;
  min-width: 370px;
}

.footer .footer__right a {
  color: #fff;
}

.footer .footer__right .footer__up {
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer .footer__right .footer__down {
  height: 90px;
}

.footer .footer__right .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-right: 15px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.footer .footer-infocenter {
  margin-bottom: 50px;
}

.footer .info-title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  margin-bottom: 12px;
}

.footer .footer-phone__number {
  margin-bottom: 10px;
}

.footer .phone-link {
  font-size: 36px;
  padding-left: 35px;
  position: relative;
}

.footer .fa-phone-alt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  font-size: 25px;
}

.footer .mail-link {
  font-size: 18px;
}

.footer .developer span {
  display: block;
}

.footer .developer .dev-name {
  font-size: 20px;
  font-weight: 700;
}

.welcome-section {
  margin-top: -20px;
  display: block;
}

.welcome-section .side__menu {
  position: relative;
  width: 25vw;
  display: inline-block;
}

.welcome-section .side__nav {
  height: 100%;
  padding: 130px 0 20px 80px;
  background-color: #fff;
  display: inline-block;
}

.welcome-section .side__nav-list {
  display: inline-block;
  padding-top: 30px !important;
}

.welcome-section .side__nav-item {
  padding-bottom: 15px;
}

.welcome-section .side__nav-link {
  font-size: 15px;
  font-weight: 400;
  color: #020303;
  display: block;
  position: relative;
}

.welcome-section .side__nav-link:hover {
  color: #4da0ff;
}

.welcome-section .side__nav-link:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -80px;
  font-size: 14px;
  margin: auto;
  height: 16px;
}

.main__welcome {
  margin-top: -500px;
  margin-left: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.main__welcome-slider {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 22px;
}

.main__welcome-slider .slider__holder {
  width: 100%;
}

.main__welcome-slider .slick-prev {
  left: 0;
}

.main__welcome-slider .slick-next {
  right: 0;
}

.main__welcome-slider .slick-arrow {
  width: 61px;
  height: 76px;
  outline: 0;
  border: none;
  position: absolute;
  top: calc(50% - 37px);
  z-index: 1;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.main__welcome-slider .slick-dots {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -22px;
  left: 0;
  right: 0;
  text-align: center;
  height: 22px;
}

.main__welcome-slider .slick-dots li {
  height: 10px;
  width: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__welcome-slider .slick-dots li + li {
  margin-left: 12px;
}

.main__welcome-slider .slick-dots button {
  width: 6px;
  height: 6px;
  min-width: 6px;
  max-width: 6px;
  cursor: pointer;
  background: #020303;
  padding: 0;
  border-radius: 50%;
}

.main__welcome-slider .slick-active button {
  height: 10px;
  width: 10px;
  background-color: #ea2427;
}

.main__welcome .card-block {
  position: relative;
  width: 100%;
}

.main__welcome .card-block .card__list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__welcome .card-block .card__list-item {
  padding: 6px;
  width: 25%;
}

.main__welcome .card-block .card__list-box {
  color: #020303;
  padding: 18px 20px;
  font-size: 14px;
  background-color: #fff8ed;
  -webkit-box-shadow: 0 3px 0 0 #d1cbc1;
          box-shadow: 0 3px 0 0 #d1cbc1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
}

.main__welcome .card-block .card__list-box strong {
  display: block;
  max-width: 140px;
  padding-right: 5px;
}

.main__welcome .card-block .card__list-box img {
  height: 80px;
  display: block;
}

.offer-one {
  background-color: #dff7fd;
}

.offer-two {
  background-color: #f1f1f1;
}

.offer__section {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.offer__section .title {
  font-size: 20px;
  padding-bottom: 80px;
}

.offer__section .title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.offer__section .list {
  position: relative;
  z-index: 2;
}

.offer__section .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 -10px;
}

.offer__section .offer__section-list {
  display: block;
  padding: 12px;
}

.offer__section .offer__section-list .product-link {
  font-size: 16px;
}

.offer__section .offer__section-list .product-link .fa-arrow-right {
  font-size: 10px;
  margin-left: 5px;
}

.offer__section .offer__section-list .product__card {
  min-height: 390px;
  width: 300px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 0 rgba(163, 163, 163, 0.05);
          box-shadow: 0 3px 0 0 rgba(163, 163, 163, 0.05);
  margin: 0 0 18px;
  padding: 20px 20px 11px;
  position: relative;
}

.offer__section .offer__section-list .product__img {
  position: relative;
}

.offer__section .offer__section-list .product__discount-box {
  top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer__section .offer__section-list .product__discount-price {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #ea2427;
  border-radius: 50%;
  margin-bottom: 10px;
}

.offer__section .offer__section-list .product__discount-price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.offer__section .offer__section-list .product__price-discount {
  font-size: 14px;
  font-weight: 700;
}

.offer__section .offer__section-list .product__price-discount .fa-dollar-sign {
  font-size: 12px;
  margin-left: 5px;
}

.offer__section .offer__section-list .product__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 8px;
}

.offer__section .offer__section-list .product__rate .comments {
  font-size: 16px;
  margin-left: 10px;
}

.offer__section .offer__section-list .product__rate span {
  font-size: 14px;
  color: #ffb600;
}

.offer__section .offer__section-list .product__title {
  font-size: 16px;
  color: #020303;
  line-height: 1.5;
  margin-bottom: 10px;
}

.offer__section .offer__section-list .product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__section .offer__section-list .product__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__section .offer__section-list .currency {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.offer__section .offer__section-list .fa-dollar-sign {
  font-size: 20px;
}

.categories-section {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.categories-section .item {
  position: relative;
}

.categories-section .item-name {
  display: block;
  padding: 24px 18px 0;
  position: relative;
  z-index: 1;
}

.categories-section .img-box {
  max-height: 90%;
  padding: 0 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 70%;
}

.categories-section .categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
      grid-template-areas: "title title big three" "one two big link";
}

.categories-section .categories .item-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

.categories-section .categories .title-box {
  min-height: 186px;
  font-size: 20px;
}

.categories-section .categories .title-box h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.categories-section .categories .title-box .sub-title {
  display: inline-block;
  margin-top: 15px;
}

.categories-section .categories .item-one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

.categories-section .categories .item-box {
  min-height: 186px;
  font-size: 20px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f4eb), to(#e0d8cb));
  background-image: linear-gradient(to bottom, #f9f4eb, #e0d8cb);
}

.categories-section .categories .item-box:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbefd9), to(#d8cebe));
  background-image: linear-gradient(to bottom, #fbefd9, #d8cebe);
}

.categories-section .categories .item-box .item__link {
  font-size: 20px;
  background-position: 50% 100%;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  color: #020303;
}

.categories-section .categories .item-two {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: two;
}

.categories-section .categories .item-big {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: big;
}

.categories-section .categories .item__big {
  min-height: 396px;
}

.categories-section .categories .item-link {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: link;
}

.categories-section .categories .item-all {
  background: 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1.3;
  padding: 45px 60px 8px 18px;
}

.categories-section .categories .item-all .link {
  font-size: 20px;
  color: #020303;
}

.categories-section .categories .item-all .link .fa-arrow-right {
  display: block;
  margin-top: 20px;
}

.categories-section .categories .item-all:hover {
  background-image: none;
}

.brands-section {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.brands-section .brands-all_link {
  padding-top: 20px;
  margin-top: 40px;
}

.brands-section .brands-all {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-size: 16px;
}

.dropdown__menu {
  display: none;
}

.dropdown__menu-list {
  background-color: #efe8de;
  padding: 20px 0 20px 50px;
  height: 100%;
}

.dropdown__menu .side__nav-item {
  padding-bottom: 15px;
  display: block;
}

.side__nav-item-parent:hover .dropdown__menu {
  position: absolute;
  height: 100%;
  width: 25vw;
  left: 100%;
  top: 140px;
  -webkit-transform: translate(12%);
          transform: translate(12%);
  z-index: 100;
}

.cart-holder {
  margin-bottom: 65px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-wrap {
  width: 100%;
  height: 300px;
}

.order-empty {
  display: block;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 70px 10px;
}
/*# sourceMappingURL=main.css.map */